<div #sidebarIdentifier [ngStyle]="{'width' : navWidth + 'px'}"
  class="main-nav-wrapper">
  <!--토글버튼 있는 사이드바 바로 오른쪽에 있는 네비게이터. 여기에 카테고리가 표시됨-->
  <!--섹션이 아무것도 없으면 뜨는 태그-->
  <div [ngStyle]="{'width' : (navWidth - adjusterSize) + 'px'}"
       class="main-section-content-wrapper">
    <div *ngIf="mainViewCtrlService.isSearchMode === false" style="height: 100%;">
      <div class="main-nav-empty-notifier disable-text-select grey-background-4"
           *ngIf="tempDataMgrService.sectionList.size === 0">
        <mat-icon class="main-nav-empty-notifier-icon">cloud_off</mat-icon>
        <h3>섹션 목록이</h3>
        <h3>텅 비었어요.</h3>
        <h3 class="reactive-heading text-spacer-right-1">좌측의</h3>
        <h3 class="reactive-heading"><mat-icon class="mat-icon-vertical-aligner">create_new_folder</mat-icon></h3>
        <h3 class="reactive-heading text-spacer-left-1">버튼을 눌러서</h3>
        <br>
        <h3 class="reactive-heading text-spacer-right-1">섹션을</h3>
        <h3 class="reactive-heading">만들 수 있어요</h3>
      </div>
      <!--섹션 리스트-->
      <div *ngIf="tempDataMgrService.sectionList.size > 0"
           class="main-nav-list light-box-shadow grey-background-4">
        <app-section-card *ngFor="let sectionItem of tempDataMgrService.sectionList | keyvalue; let i = index "
                          [sectionDto]="sectionItem.value" [index]="i">
        </app-section-card>
      </div>
    </div>
    <!--검색모드일때의 메인 네비게이터 컨텐츠-->
    <!--검색기를 화면에 보여줌-->
    <div *ngIf="mainViewCtrlService.isSearchMode === true"
         class="main-nav-list light-box-shadow grey-background-4 main-nav-search-wrapper">
      <br>
      <mat-form-field class="main-nav-search-field">
        <mat-label>문제 지문</mat-label>
        <input matInput (change)="onSearchDataChange()" [(ngModel)]="searchProblemTitle">
      </mat-form-field>
      <mat-form-field class="main-nav-search-field">
        <mat-label>문제 이름</mat-label>
        <input matInput (change)="onSearchDataChange()" [(ngModel)]="searchProblemQues">
      </mat-form-field>

    </div>
  </div>

  <!--가로길이 조정기-->
  <div class="main-nav-width-adjuster"
       (pointerdown)="onPointerDown($event)"
       [ngStyle]="{'width' : adjusterSize + 'px'}"></div>
</div>
