<div #sidebarIdentifier [ngStyle]="{'width' : navWidth + 'px'}"
     class="sub-nav-wrapper">
  <!--토글버튼 있는 사이드바 바로 오른쪽에 있는 네비게이터. 여기에 카테고리가 표시됨-->

  <div class="sub-nav-empty-notifier disable-text-select grey-background-4"
       *ngIf="tempDataMgrService.problemList.size === 0
              && mainViewCtrlService.isSearchMode === false">
    <mat-icon class="sub-nav-empty-notifier-icon">cloud_off</mat-icon>
    <h3>문제 목록이</h3>
    <h3>텅 비었어요.</h3>
    <h3 class="reactive-heading text-spacer-right-1">원하시는</h3>
    <h3 class="reactive-heading text-spacer-right-1">섹션을</h3>
    <h3 class="reactive-heading text-spacer-right-1">선택해주세요</h3>
  </div>

  <!--아이템 리스트-->
  <div [ngStyle]="{'width' : (navWidth - adjusterSize) + 'px'}"
       *ngIf="tempDataMgrService.problemList.size !== 0
       || mainViewCtrlService.isSearchMode === true"
       class="sub-nav-list light-box-shadow grey-background-4">

      <!--서브 네비바 헤더 { 정렬버튼이 여기 있음 }-->
      <div class="sub-nav-header" >
        <button mat-button matTooltip="Reset Timer" (click)="onResetTimerBtnClick()"><mat-icon>sync</mat-icon></button>
        <span class="toolbar-spacer"></span>
        <button mat-button [matMenuTriggerFor]="sortByMenu"><mat-icon>sort</mat-icon></button>
        <mat-menu #sortByMenu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="sortByCorrectCntMenu">많이 맞춘 순서대로</button>
          <button mat-menu-item [matMenuTriggerFor]="sortByIncorrectCntMenu">많이 틀린 순서대로</button>
          <mat-menu #sortByCorrectCntMenu="matMenu">
            <button mat-menu-item (click)="onSortBtnClicked(SortBaseEnum.CORRECT_CNT, SortDirectionEnum.ASC)">오름차순</button>
            <button mat-menu-item (click)="onSortBtnClicked(SortBaseEnum.CORRECT_CNT, SortDirectionEnum.DESC)">내림차순</button>
          </mat-menu>
          <mat-menu #sortByIncorrectCntMenu="matMenu">
            <button mat-menu-item (click)="onSortBtnClicked(SortBaseEnum.INCORRECT_CNT, SortDirectionEnum.ASC)">오름차순</button>
            <button mat-menu-item (click)="onSortBtnClicked(SortBaseEnum.INCORRECT_CNT, SortDirectionEnum.DESC)">내림차순</button>
          </mat-menu>
        </mat-menu>

      </div>
      <mat-divider></mat-divider>

      <!--문제 카드들은 여기에 배치됨-->
      <div id="SUB_NAV_CARD_WRAPPER" class="sub-nav-problem-card-wrapper">
        <app-problem-card *ngFor="let problemDto of tempDataMgrService.problemList | keyvalue : problemSortFunc"
                          [problemDto]="problemDto.value">
        </app-problem-card>
      </div>
  </div>

  <!--가로길이 조정기-->
  <div class="sub-nav-width-adjuster"
       (pointerdown)="onPointerDown($event)"
       [ngStyle]="{'width' : adjusterSize + 'px'}"></div>
</div>
