.main-outer-wrapper{
  /*background: lightblue;*/
  display: flex;
  flex-flow: column;
  height: 100%;
}

.main-content-wrapper{
  display: flex;
  flex-flow: row;
  width: 100%;
  flex: 1;
  /*border: 2px solid black;*/
}
.main-article-wrapper{
  width: 100%;
  padding: 32px 18px;
}

  /*사이드바, 네비게이터, 아티클 래퍼스타일*/
  app-main-sidebar{
  }

  app-main-navigator{
  }




