<div class="create-problem-wrapper">
  <h1 mat-dialog-title>문제 생성하기</h1>
  <div mat-dialog-content class="create-problem-dialog-content">
    <div><p>문제 정보를 입력해주세요</p></div>
    <div>
      <mat-form-field>
        <mat-label>문제 이름</mat-label>
        <input matInput [(ngModel)]="newProblemDto.title">
      </mat-form-field>
    </div>

    <div class="column-spacer"></div>

    <!--문제 지문을 입력하는 텍스트 에이리어-->
    <div class="create-problem-textarea-wrapper">
      <mat-label>문제 지문</mat-label>
      <textarea class="enable-pre-wrap create-problem-textarea light-box-shadow font-gill-sans-serif dase-textarea" [(ngModel)]="newProblemDto.question"></textarea>
    </div>

    <div class="column-spacer"></div>

    <!--문제 정답을 입력하는 텍스트 에이리어-->
    <div class="create-problem-textarea-wrapper">
      <mat-label>문제 정답</mat-label>
      <textarea class="enable-pre-wrap create-problem-textarea light-box-shadow font-gill-sans-serif dase-textarea" [(ngModel)]="newProblemDto.answer"></textarea>
    </div>

    <div class="column-spacer"></div>

    <!--출제간격을 조절하는 슬라이더-->
    <div style="margin-right: 16px;">
      <mat-label>현재 출제 간격 레벨</mat-label>
      <mat-slider min="0"
                  max="10"
                  thumbLabel="thumbLabel"
                  tickInterval="1"
                  [(ngModel)]="newProblemDto.currQuestionStep">
      </mat-slider>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCreateBtnClick()">생성하기</button>
  </div>

</div>
