<div class="main-sidebar-wrapper">
  <!--맨 왼쪽 사이드바의 래퍼. 여기에 네비게이터 토글버튼 있음-->

  <!-- 네비게이터 토글버튼 -->
  <button mat-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>

  <!--검색버튼-->
  <button mat-button>
    <mat-icon>search</mat-icon>
  </button>

  <!--섹션 생성 버튼-->
  <button mat-button (click)="onCreateSecionBtnClick()">
    <mat-icon>create_new_folder</mat-icon>
  </button>

  <!--문제 생성 버튼-->
  <button mat-button (click)="onCreateProblemBtnClick()">
    <mat-icon>post_add</mat-icon>
  </button>

</div>
